.font-navbar {
  font-family: "Bangers", cursive;
}
.font-detailsOne {
  font-family: "Taviraj", serif;
}
.font-detailsTwo {
  font-family: "Shadows Into Light", cursive;
}
.font-detailsThree {
  font-family: "Sorts Mill Goudy", serif;
}
.font-heading {
  font-family: "Permanent Marker", cursive;
}
.font-headingTwo {
  font-family: "Fredoka One", cursive;
}
.font-navbar:hover {
  font-family: "Luckiest Guy", cursive;
}
.font-headingThree {
  font-family: "Carter One", cursive;
}
.font-headingFour {
  font-family: "Prata", serif;
}

:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

.text-blue {
  color: var(--mainBlue);
  font-size: 1.2rem;
  font-weight: bolder;
}

.text-title {
  font-family: "Carter One", cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.title-text {
  font-weight: bolder;
  font-size: 2rem;
  padding-left: 20px;
  font-family: "Permanent Marker", cursive;
}

.shop-item {
  margin-top: 70px;
}

.shop-cart {
  margin-top: 80px;
}

.head-texts {
  margin-top: -320px;
  margin-left: 440px;
  color: black !important;
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.9rem !important;
  color: var(--mainDark);
  border-radius: 5px !important;
  border: 0.2rem solid var(--mainDark) !important;
  font-weight: bolder;
  font-family: "Fredoka One", cursive !important;
  cursor: pointer;
}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.img-cart {
  width: 4rem;
}

@media screen and (min-width: 1000px) {
  .main-img {
    margin-left: 100px;
  }
}

@media screen and (max-width: 768px) {
  .shop-item {
    margin-top: 150px;
  }
  .shop-cart {
    margin-top: 150px;
  }
  .img-cart {
    width: 5rem;
  }
  .head-texts {
    margin-top: -10px;
    margin-left: 0px;
  }
}
